<head>
  <%= stylesheet_link_tag params[:controller] %>
</head>

<body>
  <div class="columns has-text-centered">
    <div class="column">
    </div>
    <div class="column is-three-quarters-mobile is-one-half-desktop">
    <%= image_tag("dark_logo_transparent.svg", :alt => "rss feed") %>
  </div>
  <div class="column">
  </div>
  </div>
      <section class="section">
      <div class = "container">
          <span>Dreaming at night occurs during the <a href=https://en.wikipedia.org/wiki/Rapid_eye_movement_sleep>REM</a> stage of sleep.</span><br/>
          <span>During this stage, our eyes move rapidly back and forth. It is thought to help us make associations and form memories.</span></br></br>
          <span>In Guided Daydreaming, we mimic this action to help enhance daydreaming.</span>
      </div>
      </section>

        <div class="container">
          <h4 class="title">Instructions:</h4>
          <section class="content">
            <ol class ="subtitle">
              <li class="instructionList">Think of a specific memory.</li>
              <li class="instructionList">When you start, a ball will move back and forth across your screen.</li>
              <li class="instructionList">Follow the ball with your eyes and let your mind freely wander.</li>
              <li class="instructionList">When the ball stops, let the question that appears guide you down a different path.</li>
            </ol>
            <span is-centered>We look forward to your feedback!</span>
          </section>


      <div class = has-text-centered>
          <%= link_to 'Begin', session_path(), id:"beginButton", class:"button is-large is-primary" %>
      </div>
    </div>
  </section>
  <br/>


  <footer class="footer intro">
    <div class="container">
      <div class="content has-text-right">
        <p>
          <a id="sourceCode" href="https://github.com/marwaybs/guidedDaydreaming">Source Code</a>
        </p>
      </div>
    </div>
  </footer>
  <%= javascript_include_tag params[:controller] %>
</body>
