#sourceCode{
  color:lightblue;
}

.instructionList{
  padding: 0.5rem 0.5rem;
}

@media only screen and (max-width: 768px) {
  #beginButton{
    padding: 1.75rem;
    font-size: 1.75rem;
  }
}

#logo{
  padding-left: 3.5rem;
}
